mindstormsFunction/src/mindstormsFunction/bin/Debug/netcoreapp2.1/mindstormsFunction.dll
mindstormsFunction/src/mindstormsFunction/bin/Debug/netcoreapp2.1/mindstormsFunction.pdb
mindstormsFunction/src/mindstormsFunction/bin/Debug/netcoreapp2.1/publish/mindstormsFunction.dll
mindstormsFunction/src/mindstormsFunction/bin/Debug/netcoreapp2.1/publish/mindstormsFunction.pdb
mindstormsFunction/src/mindstormsFunction/bin/Debug/netcoreapp2.1/publish/publish.zip
mindstormsFunction/src/mindstormsFunction/obj/Debug/netcoreapp2.1/mindstormsFunction.csprojAssemblyReference.cache
mindstormsFunction/src/mindstormsFunction/obj/Debug/netcoreapp2.1/mindstormsFunction.dll
mindstormsFunction/src/mindstormsFunction/obj/Debug/netcoreapp2.1/mindstormsFunction.pdb
mindstormsFunction/test/mindstormsFunction.Tests/obj/Debug/netcoreapp2.1/mindstormsFunction.Tests.AssemblyInfo.cs
mindstormsFunction/test/mindstormsFunction.Tests/obj/Debug/netcoreapp2.1/mindstormsFunction.Tests.AssemblyInfoInputs.cache
mindstormsFunction/test/mindstormsFunction.Tests/obj/Debug/netcoreapp2.1/mindstormsFunction.Tests.csprojAssemblyReference.cache
